.splash-container {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
  font-family: 'Inter', sans-serif;
  color: white;
}

.splash-overlay {
  background: rgba(0,0,0,0.45);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
   align-items: center;
text-align: center;
}

.splash-top {
  margin-top: 60px;
}

.splash-title {
  font-family: 'Comforter', serif;
  font-size: 4rem;
  font-weight: 600;
  margin-bottom: 12px;
  letter-spacing: 1px;
}

.splash-date {
  font-family: 'Comforter', serif;
  font-size: 2.6rem;
  opacity: 0.9;
  margin-bottom: 30px;
font-family: 'Comforter', serif;
}

.countdown {
  font-family: 'Comforter', serif;
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 2px;
  background: rgba(255, 255, 255, 0);
  padding: 12px 28px;
  border-radius: 18px;
  display: inline-block;
}

.countdown span {
  color: #ffe1ec;
  margin: 0 8px;
}

.splash-bottom {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.splash-btn {
  padding: 14px 36px;
  font-size: 1.2rem;
  font-weight: 500;
  background: rgba(255, 255, 255, 0.25);
  color: #fff;
  border: 1px solid rgba(255,255,255,0.4);
  border-radius: 30px;
  cursor: pointer;
  backdrop-filter: blur(5px);
  transition: all 0.3s ease;
}

.splash-btn:hover {
  background: rgba(255, 255, 255, 0.4);
  transform: translateY(-2px);
}